[Desktop Entry]
Type=Application
Name=Sung Yandex
Comment=Yandex Music with offline cache, native on Linux
Exec=sung-yandex %u
Icon=sung-yandex
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=sung-yandex
MimeType=x-scheme-handler/sung-yandex;
